.blog-wrap {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.go-back {
    font-size: 0.8rem;
    color: #a9a9a9;
    font-weight: 500;
    margin: 2rem 0 0 2rem;
    display: block;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}

.go-back:hover {
    color: #6190e8;
    font-weight: 600;
}

.blog-wrap header {
    text-align: center;
    width: 60%;
    margin: auto;
}

.blog-date {
    font-size: 00.8rem;
    color: #a9a9a9;
    font-weight: 500;
}

.blog-wrap img {
    width: 60%;
    background-color: #a9a9a9;
}

.blog-subcategory {
    display: flex;
    justify-content: center;
}

.blog-subcategory div {
    font-size: 00.8rem;
    margin-top: 1rem;
    font-weight: 500;
}

.blog-desc {
    display: inline-block;
    text-align: justify;
    padding: 1rem;
    line-height: 30px;
}

.blog-wrap img {
    border-radius: 15px;
}

.aurthor-detail {
    font-size: 0.9rem;
    color: #a9a9a9;
    font-weight: 500;
    margin: 2rem auto;
    display: block;
    text-align: right;
}

.aurthor-detail img {
    width: 50px;
    height: 60px;
    border-radius: 50%;
}