.add-blog {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.add-blog h1{
    color: #0080ff;
}


.blog-input {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    max-width: 75%;
    line-height: 25px;
}

.blog-input div {
    /* color: #2D0001; */
    margin: 8px auto;
    overflow: hidden;
    width: 100%;
    font-weight: 500;
}


.opt-text {
    color: gray;
    font-size: x-small;
    margin-left: 10px;
}

.blog-input input {
    flex: 1rem;
    padding: 6px;
    outline: none;
    border: 1px solid gainsboro;
    border-radius: 6px;
    line-height: 25px;
    width: 95%;
    margin: 5px auto;
    background-color: white;
}


.blog-input textarea {
    margin: 5px auto;
    flex: 1rem;
    padding: 6px 0;
    outline: none;
    border: 1px solid gainsboro;
    border-radius: 6px;
    height: 20px;
    width: 95%;
}

.formSubmit button {
    width: 20%;
    padding: 8px;
    background-color: #171717;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    cursor: pointer;
    font-weight: 500;

}

.blog-input p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-weight: 500;
    cursor: pointer;
    background-color: #000000;
    color: #f0f0f0;
    padding: 5px;
    width: 5%;
    margin: 8px auto ;
    border-radius: 20px;

}