.emptyList-wrap {
    text-align: center;
    background-color: #f0f0f0;
    max-width: 300px;
    color: #0f52ba;
    padding: 40px;
    border-radius: 20px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.emptyList-wrap h4{
    color: #0080ff;
}

.emptyList-wrap img {
    max-width: 250px;
    width: 100%;
}
.go-home{
font-size: 1.3rem;
    text-decoration: none;
    color: #a9a9a9;
    font-weight: 500;
    margin: 2rem;
    display: block;
    cursor: pointer;
}

.go-home:hover{
    color: #6190e8;
    font-weight:900;
}