.sidebar {
    width: 15%;
    height: 1080px;
    background-color: #171717;
    position: fixed;
    display: flex;
    flex-direction: column;

}

.sidebar .text {
    text-align: center;
    color: #0080ff;
    background-color: #f0f0f0;
    font-size: 20px;
    /* padding: 15px  ; */
    margin-top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

nav ul li {
    line-height: 65px;
    width: 100%;
}

nav ul li {
    position: relative;
    color: #f0f0f0;
    text-decoration: none;
    cursor: pointer;
    padding-left: 40px;
    font-weight: 500;
    margin-bottom: 3px;
    border-left: 3px solid #F8F9E4;
}

nav ul li:hover {
    color: black;
    background-color: #f0f0f0;
    border-left: 6px solid black;
}

nav ul ul {
    position: static;
    
}

nav ul ul li {
    line-height: 35px;
    padding-left: 80px;
    width: 100%;
}

nav ul ul a {
    text-decoration: none;
    color: #F8F9E4;
    display: block;
    width: 100%;
}
nav ul ul li:hover{
    color: black;
    background-color: white;
}

.all .active li{
    color: #7E7C73;
    background-color: white;
    border-left: 6px solid #0080ff;
}

.log-out{
    text-align: center;
    color: #171717;
    margin: 30px auto;
    cursor: pointer;
    background-color:#F8F9E4;
    padding: 7px;
    border-radius: 5px;
}
.log-out:hover{
    box-shadow: #3f3f39 2px 2px 7px 1px;
    color: #0080ff;
}