.sidebar {
    width: 15%;
    height: 1080px;
    background-color: #2D0001;
    position: fixed;
    display: flex;
    flex-direction: column;

}

.sidebar .text {
    text-align: center;
    color: #B17E4B;
    background-color: #F8F9E4;
    font-size: 20px;
    /* padding: 15px  ; */
    margin-top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

nav ul li {
    line-height: 65px;
    width: 100%;
}

nav ul li {
    position: relative;
    color: #F8F9E4;
    text-decoration: none;
    cursor: pointer;
    padding-left: 40px;
    font-weight: 500;
    margin-bottom: 3px;
    border-left: 3px solid #F8F9E4;
}

nav ul li:hover {
    color: #2D0001;
    background-color: #F8F9E4;
    border-left: 6px solid #2D0001;
}

nav ul ul {
    position: static;
    
}

nav ul ul li {
    line-height: 35px;
    padding-left: 80px;
    width: 100%;
}

nav ul ul a {
    text-decoration: none;
    color: #F8F9E4;
    display: block;
    width: 100%;
}
nav ul ul li:hover{
    color: #2D0001;
}

.all .active li{
    color: #2D0001;
    background-color: #F8F9E4;
    border-left: 6px solid #2D0001;
}

.log-out{
    text-align: center;
    color: #2D0001;
    margin: 30px auto;
    cursor: pointer;
    background-color:#F8F9E4;
    padding: 7px;
    border-radius: 5px;
}
.log-out:hover{
    box-shadow: #580a0b 2px 2px 7px 1px;
    color: #580a0b;
}