.searchBar-wrap {
    background-color: #f0f0f0;
    width: 25%;
    margin: 70px auto;
    padding: .7rem;
    border-radius: 20px;
}

.searchBar-wrap form {
    display: flex;
}

.searchBar-wrap input {
    background-color: #f0f0f0;
    outline: none;
    border: none;
    width: 100%;
    text-align: center;
}

.suggestions-list {
    text-align: center;
    font-size: 0.8rem;
    color:lightslategray;
    font-weight: 600;
    padding: 5px;
    border-top: 1px solid #a9a9a9;
    cursor: pointer;
}

.suggestions-list :hover{
    color: #0080ff;;
}

.category-list {
    display: inline-block;
    text-align: left;
}

.clearsearch {
    cursor: pointer;
    font-weight: 800;
    font-size: 0.8rem;
    margin: 2px;
}
.search-icon{
    vertical-align: middle;
    margin-right: 5px;
    }