.searchBar-wrap {
    background-color: #f0f0f0;
    width: 30%;
    margin: 70px auto;
    padding: .7rem;
    border-radius: 20px;
}

.searchBar-wrap form {
    display: flex;
    align-items: center;
}

.searchBar-wrap input {
    background-color: #f0f0f0;
    outline: none;
    border: none;
    width: 100%;
    text-align: center;
}

.suggestions-list {
    text-align: center;
    margin-top: 5px;
    font-size: 0.8rem;
    color: #0080ff;
    font-weight: 600;
    padding: 5px;
    border-top: 1px solid #a9a9a9;
    cursor: pointer;
}

.category-list {
    margin-left: 5px;
}

.clearsearch {
    cursor: pointer;
    font-weight: 800;
    font-size: 0.8rem;
    margin: 2px;
}