.allCate h2 {
    color: #0080ff;
    text-align: center;
    margin-top: 30px;
}

.allCate table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 50%;
}

.allCate th {
    padding: 20px;
    color: #f0f0f0;
    background-color: #171717;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.allCate tr {
    border: 1px solid #ddd;
    padding: 20px;
    border-collapse: collapse;
}

.allCate td {
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 0.9rem;
    color: #898989;
    font-weight: 500;
    

}

.item-desc {
    width: 120px;
    white-space: nowrap;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.6rem;
    text-align: justify;
   
}

.item-desc-icon {
    width: 70px;
    display: block;
    overflow: hidden;
}


.item-desc-icon a{
    text-decoration: none;
    color: #171717;
}
.item-desc-icon a :hover {
    cursor: pointer;
    font-size: 18px;
    color: #0080ff;
}

