
.formwrap {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.formwrap h2 {
    color: #0f52ba;
    margin-bottom: 30px;
}

.formwrap div {
    display: flex;
    margin: 20px auto;
    align-items: center;

}

.formwrap p{
    font-size: 0.9rem;
    color: #a9a9a9;
}

.formwrap button {
    margin: 10px auto;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #0f52ba;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.formwrap input {
    margin: auto 10px;
    overflow: hidden;
    flex: 1rem;
    padding: 4px;
    outline: none;
    border: 1px solid gainsboro;
    border-radius: 6px;
    height: 20px;
}

.loginpage h4{
    text-align: center;
    font-size: .9rem;
    
}

.loginpage a{
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}